{% extends 'appsurvey/base.html' %}

{% block content %}

<div class="container">
  <center>
    <h1><b>TURF CLUB DRESS CODE SURVEY</b></h1>
    <br>
    <h3><b>Current Turf Club Dress Code: Business Casual</b></h3>
    <br>
    <h6>Jackets are preferred, blazers, vests, shirts with collars, sweaters <br>
    dresses, slacks, and capri pants are appropriate. Jeans/denim, shorts, t-shirts <br>
  halter tops, athletic wear, and tennis shoes are not permitted. The dress code, although <br>
  encouraged, does not apply to children under the age of 12.</h6>
  <br>
    <h6>Please click below to share your feedback on the Turf Club dress code.</h6>
    <a href="about" class = 'btn btn-danger'>   >>    </a>
  </center>
</div>


{% endblock %}
